* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
  background-color: #ffffff;
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px;
}

.signup-card {
  display: flex;
  width: 900px;
  height: 550px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

/* Left Side (Image) */
.signup-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

/* Right Side (Form) */
.signup-form-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form-section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name-fields {
  display: flex;
  gap: 10px;
}

input,
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}

button {
  padding: 12px;
  background-color: #72338e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ad7ac4;
}

@media (max-width: 768px) {
  .signup-card {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .signup-image {
    height: 200px;
  }
}
